{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kebapp - Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% tailwind_css %}
</head>
<body class="bg-myyellow">
    <img class="absolute bottom-0 left-1/2 transform -translate-x-1/2 z-[-999]" src="{% static 'accounts/fire.png' %}" alt="Fire Image">
    <img class="absolute top-[260px] left-1/2 transform -translate-x-1/2 z-[-999]" src="{% static 'accounts/logo.png' %}" alt="Logo Image">
    <img class="absolute top-0 left-1/2 transform -translate-x-1/2 z-[-999]" src="{% static 'accounts/top_banner.png' %}" alt="Banner Image">
    <div class="flex justify-center items-center py-[385px]">
        <form method="POST" class="flex flex-col">
            {% csrf_token %}
            <div class="flex-grow focus:outline-none">
                <div class="focus:border-myaccentorange bg-myorange mb-4 rounded-[15px]">
                    <input class="bg-myorange rounded-[15px] text-myaccentorange w-[320px] p-2 focus:border-myaccentorange border-[2px] border-transparent focus:outline-none focus:ring-0 placeholder:text-myaccentorange" type="text" name="username" placeholder="Username" required>
                </div>
                <div class="focus:border-myaccentorange bg-myorange mb-6 rounded-[15px]">
                    <input class="bg-myorange rounded-[15px] text-myaccentorange w-[320px] p-2 focus:border-myaccentorange border-[2px] border-transparent focus:outline-none focus:ring-0 placeholder:text-myaccentorange" type="password" name="password" placeholder="Password" required>
                </div>
                <div class="bg-myaccentorange py-3 rounded-[15px]">
                    <button class="flex mx-auto justify-center items-center text-myyellow" type="submit">Sign Up</button>
                </div>
            </div>
            <a class="text-myblack absolute bottom-[30px] text-[18px] left-1/2 transform -translate-x-1/2 font-syne" href="{% url 'user_login' %}">Sign In</a>
        </form>
    </div>
</body>
</html>
