{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kebapp - Register</title>
    {% tailwind_css %}
</head>
<body class="bg-myyellow">

    <div class="flex justify-center items-center py-20">
        <form method="POST" class="flex flex-col">
            <h1 class="text-6xl text-myred mb-10">Kebapp</h1>
            {% csrf_token %}
            <div class="flex-grow">
                <div class="bg-myorange mb-4 rounded-[15px]">
                    <input class="bg-myorange rounded-[15px] text-myaccentorange" type="text" name="username" placeholder="Username" required>
                </div>
                <div class="bg-myorange mb-10 rounded-[15px]">
                    <input class="bg-myorange rounded-[15px] text-myaccentorange" type="password" name="password" placeholder="Password" required>
                </div>
                <div class="bg-myaccentorange py-3 rounded-[15px]">
                    <button class="flex mx-auto justify-center items-center text-myyellow" type="submit">Sign Up</button>
                </div>
            </div>
            <a class="text-myblack mt-4 mx-auto flex justify-center items-center" href="{% url 'user_login' %}">Sign In</a>
        </form>
    </div>
</body>
</html>
