<!DOCTYPE html>
<html>
    <body>
        <h1>{{ room.name }}</h1>
        <li><a href="leave_room">LEAVE</a></li>
        <li><a href="delete_room">DELETE ROOM</a></li>
        
        <p>USERS IN THIS ROOM</p>
        <ul>
            {% for user_room in users_in_room %}
                <li>{{ user_room.user.username }}</li>
            {% empty %}
                <li>No users in this room yet.</li>
            {% endfor %}
        </ul>
        
        <p>EXISTS CARDS</p>
        <ul>
            {% for card in cards %}
                <li>{{ card.name }} ___ {{ card.price }} ___ {{ card.user }}</li>
            {% empty %}
                <li>No cards</li>
            {% endfor %}
        </ul>
        <a href="cards_list">DELETE CARD</a>
        <br>
        <p>DEBTS INFO</p>
        <ul>
            {% for transaction in debts_info %}
                <li>{{ transaction.user }} должен {{ transaction.debt }} пользователю {{ transaction.user_to_pay }}</li>
            {% empty %}
                <li>No debts to report.</li>
            {% endfor %}
        </ul>

        <h3>CREATE CARD</h3>
        <form method="POST">
            {% csrf_token %}
            <input type="name" name="name" placeholder="Card Name">
            <input type="price" name="price" placeholder="Card Price">
            <button type="submit">ADD</button>
        </form>

        <a href="{% url 'main' %}">BACK</a>
    </body>
</html>
