{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Logined room</title>
        <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap" rel="stylesheet">
        {% tailwind_css %}
        <style>
            /* Скрытие скроллбара для Webkit (Chrome, Safari) */
            .hide-scrollbar::-webkit-scrollbar {
                display: none;
            }
    
            /* Скрытие скроллбара для Firefox */
            .hide-scrollbar {
                scrollbar-width: none;
            }
        </style>
<body class="bg-myyellow flex flex-col items-center py-6">

    <!-- Логотип -->
    <div class="flex flex-col items-center mb-4 py-24">
        <img class="absolute top-0 left-1/2 transform -translate-x-1/2 z-[-999]" src="{% static 'accounts/top_banner.png' %}" alt="Top Banner Image">
        <img class="absolute top-[60px] left-1/2 transform -translate-x-1/2 z-[-0]" src="{% static 'accounts/logo.png' %}" alt="Logo Image">
    </div>

    <h2 class="text-xl font-bold">{{ room.name }}</h2>

    <div class="bg-myorange2 w-80 rounded-lg p-4 mt-4">
        <h3 class="text-xl text-center text-myblack">Debts</h3>
        <ul class="mt-2 text-center">
            {% for transaction in debts_info %}
                <li>{{ transaction.user }}->{{ transaction.user_to_pay }}: {{ transaction.debt }}</li>
            {% empty %}
                <li>No debts to report.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Форма создания карточки -->
    <div class="bg-myorange2 w-80 rounded-lg p-4 mt-4">
        <h1 class="text-center text-xl">Cards</h1>
        <ul class="py-6">
            {% for card in cards %}
                <li class="text-center text-myblack">{{ card.user }}____{{ card.name }}____{{ card.price }} </li>
            {% empty %}
                <li class="text-myblack">No cards</li>
            {% endfor %}
        </ul>
        <h3 class="text-xl underline text-center"><a href="cards_list">Add/Delete Card</a></h3>
        <form method="POST" class="flex flex-col gap-2 mt-2">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name for card" class="bg-myorange rounded-[10px] text-myaccentorange p-2 focus:border-myaccentorange border-[2px] border-transparent focus:outline-none focus:ring-0 placeholder:text-myaccentorange">
            <input type="number" name="price" placeholder="Price" class="bg-myorange rounded-[10px] text-myaccentorange p-2 focus:border-myaccentorange border-[2px] border-transparent focus:outline-none focus:ring-0 placeholder:text-myaccentorange">
            <button type="submit" class="bg-mygreen text-myyellow font-bold py-2 rounded-lg mt-2">Add Card</button>
        </form>
    </div>

    <!-- Пользователи в комнате -->
    <div class="bg-myorange2 w-80 rounded-lg p-4 mt-4">
        <h3 class="text-lg font-bold underline text-center">Users in Room</h3>
        <ul class="mt-2 text-center">
            {% for user_room in users_in_room %}
                <li>{{ user_room.user.username }}</li>
            {% empty %}
                <li>No users in this room yet.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Кнопка назад -->
    <a href="{% url 'main' %}" class="bg-[#E4572E] text-white font-bold py-2 px-6 rounded-lg mt-6">Back</a>
    <a class="py-4" href="leave_room">Leave room</a>
    <a class="" href="delete_room">Delete room</a>
</body>
</html>
