{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% tailwind_css %}
    <style>
        body {
            overflow: hidden; /* Отключает прокрутку */
        }
    </style>
</head>
<body class="bg-myyellow">
    <img class="absolute bottom-0 left-1/2 transform -translate-x-1/2 z-[-999]" src="{% static 'accounts/bottom_banner.png' %}" alt="Bottom Banner Image">
    <img class="absolute top-[60px] left-1/2 transform -translate-x-1/2 z-[-0]" src="{% static 'accounts/logo.png' %}" alt="Logo Image">
    <img class="absolute top-0 left-1/2 transform -translate-x-1/2 z-[-999]" src="{% static 'accounts/top_banner.png' %}" alt="Top Banner Image">
    <div class="flex justify-center items-center py-[380px]">

        

        <div class="flex flex-col space-y-4 w-[320px] text-myyellow">
            <a href="show_rooms" class="bg-myred px-4 p-2 rounded-[10px]">
                Find Rooms
            </a>
            <a href="add_room" class="bg-mygreen px-4 p-2 rounded-[10px]">
                Create Room
            </a>
            <a href="get_my_rooms" class="bg-myorange2 px-4 p-2 rounded-[10px] text-myblack">
                My Rooms
            </a>
        </div>
        

            <a class="absolute bottom-[30px] text-[18px]" href="user_logout">Log out</a>
</body>
</html>
